<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/favicon.ico">
    <title>人脸重建</title>
    <!-- Bootstrap core CSS -->
    <link href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../lib/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <!--<link href="../../css/jumbotron-narrow.css" rel="stylesheet">-->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../lib/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../lib/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>
<body>
<!--<input id="img_name_received" name="img_name_received" th:value="${img_name}" style="display: none"/>-->
<input id="msg_received" name="msg" th:value="${msg}" style="display: none"/>
<input id="snap_src_isreceived" th:value="${snap_src_isreceived}" style="display: none"/>
<input id="snap_name_received" th:value="${snap_name_received}" style="display: none"/>
<input id="snap_src" th:value="${snap_src}" style="display: none"/>
<input id="handled" name="handled" th:value="${handled}" style="display: none"/>
<input id="pngpath" name="pngpath" th:value="${pngpath}" style="display: none"/>
<input id="objpath" name="objpath" th:value="${objpath}" style="display: none"/>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/index">主页</a></li>
                <li role="presentation"><a href="#">关于</a></li>
                <li role="presentation"><a href="#">历史</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">人脸重建</h3>
    </div>
    <hr/>
    <div class="panel panel-default" >
        <div class="panel-body">
            <div id="obj_div" align="center" style="margin-bottom: 10%">
                <h1 id="msg" style="visibility: visible" th:text="请上传图片"></h1>
                <img id="img" name="img" height="35%" width="35%" >
                <h3 id="img_name" ></h3>
            </div>
        </div>
    </div>
    <div align="center">
        <div style="float: right">
            <a id="open_camera_btn" class="btn btn-lg btn-info" role="button" href="/openCamera">拍照选取</a>
            <span>&nbsp;</span>
            <a id="select_btn" class="btn btn-lg btn-info" role="button">从本地选取</a>
            <span>&nbsp;</span>
            <a id="upload_btn" class="btn btn-lg btn-primary" href="#" role="button">点击上传</a>
            <span>&nbsp;</span>
            <a id="download_btn" class="btn btn-lg btn-success" href="/index/download" role="button">点击下载</a>
        </div>
        <span>&nbsp;&nbsp;</span>
        <div style="float: right">
        </div>
    </div>
    <form id="form" th:action="@{'/index/upload' + '?isSnap=' + ${snap_src_isreceived eq null ?false:snap_src_isreceived} + '&amp;snapName=' + ${snap_name_received}}" enctype="multipart/form-data" method="post">
        <input id="select_image" name="file" type="file" class="btn btn-lg btn-info" role="button" style="display: none" accept=".jpg"/>
    </form>
</div>

<script src="../../lib/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../lib/bootstrap-filestyle/bootstrap-filestyle.js"></script>
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/three/three.js"></script>
<script src="../../lib/FBXLoader.js"></script>

<script src="../../lib/three/three.js"></script>

<script src="../../lib/three/controls/OrbitControls.js"></script>

<script src="../../lib/three/curves/NURBSCurve.js"></script>
<script src="../../lib/three/curves/NURBSUtils.js"></script>
<script src="../../lib/three/loaders/OBJLoader.js"></script>

<script src="../../lib/three/Detector.js"></script>
<script src="../../lib/three/libs/stats.min.js"></script>

<script src="../../js/index.js"></script>
<script src="../../js/loadmodel.js"></script>

</body>
</html>