<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header clearfix" th:fragment="nav">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">主页</a></li>
            <li role="presentation"><a href="#">关于</a></li>
            <li role="presentation"><a href="history">历史</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">人脸建模</h3>
</div>
</body>
</html>